.app {
  display: grid;
  grid-template-areas:
    "Header Header"
    "MenuBar Contentt"
    "Footer Footer";
  grid-template-columns: 10% 90%;
  grid-template-rows: 3vw 100% 3vw;
  color: white;
}
.fon {
  background-color: rgba(13, 0, 27, 0);
}